.exercise {
  display: block;
  width: 100%;
  min-height: 296px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  &:hover {
    .exercise-img {
      opacity: 0.4;
      transform: scale(1.1);
    }
    .exercise-info {
      bottom: 10px
    }
  }
  &-img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-right: 10px;
    transition: opacity $animation-speed, transform $animation-speed;
  }
  &-info {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    transition: bottom $animation-speed;
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 45px;
      letter-spacing: 0.3px;
      margin-bottom: 15px;
    }
    &__description {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 14px;
      letter-spacing: 0.5px;
      opacity: 0.67;
    }
    &__timing {
      position: absolute;
      top: 0;
      right: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 19px;
      letter-spacing: 1.36667px;
      background: #000;
      padding: 10px 0 10px 10px;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
}