.modal {
  display: none;
  &.show {
    display: flex!important;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background: $bg-modal;
  }
  &-dialog {
    background: $bg-modal-dialog;
    padding: 16px;
  }
  &-footer {
    display: flex;
    justify-content: flex-end;
  }
  .btn {
    width: 200px;
  }
  @include mobile {
    iframe {
      width: 100%!important;
    }
  }
}