.type {
  width: 100%;
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255,255,255, 0.4);
  transition: border-bottom $animation-speed;
  &:hover {
    border-bottom: 1px solid rgba(255,255,255, 1);
    .type-number {
      opacity: 1;
    }
    .type-info {
      margin: 0 0 0 300px;
    }
    .type-info__counter {
      opacity: 1;
    }
  }
  &-number {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    opacity: 0.34;
    margin-top: 39px;
    transition: opacity $animation-speed;
  }
  &-info {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 290px;
    transition: margin $animation-speed;
    &__title {
      @include flex-v;
      height: 70px;
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      letter-spacing: 0.833333px;
      margin-bottom: 10px;
    }
    &__counter {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: 0.5px;
      opacity: 0.5;
      transition: opacity $animation-speed;
    }
  }
  .icon-arrow {
    width: 19px;
    height: 24px;
    margin-top: 49px;
    margin-left: auto;
    svg path {
      stroke: $font-color;
    }
  }
}