.workout-popular {
  width: 100%;
  max-width: 1200px;
  padding-bottom: 200px;
  &-head {
    @include flex-v;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 50px;
  }
  &__title {
    @include flex-v;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.3px;
  }
  &__button {
    @include flex-v;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    height: 12px;
    letter-spacing: 1.5px;
    opacity: 0.67;
    cursor: pointer;
    transition: opacity 500ms;
    &:hover {
      opacity: 1;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 40px;
    width: 100%;
    &__item {
      width: 373px;
      min-height: 296px;
    }
  }
}