.workout-program {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 100px 0 150px;
  &__bg {
    position: absolute;
    top: 0;
    right: -120px;
    width: 999px;
    height: 733px;
    opacity: 0.10000000149011612;
    background: #FFF;
    z-index: 2;
  }
  &-info {
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 119px;
    margin-bottom: 153px;
    z-index: 4;
    &__title {
      position: relative;
      width: 523px;
      color: $font-color;
      font-size: 120px;
      font-weight: 600;
      line-height: 120px;
      letter-spacing: -2px;
      z-index: 4;
    }
    &__img {
      position: absolute;
      bottom: -99px;
      left: -21px;
      width: 504px;
      z-index: 3;
    }
    &__desc {
      width: 558px;
      p {
        color: #FFF;
        font-size: 25px;
        line-height: 50px;
        letter-spacing: 0.5px;
        opacity: 0.699999988079071;
        margin-bottom: 50px;
        padding-top: 30px;
      }
      .btn {
        width: 200px;
      }
    }
  }
  &-trainers {
    position: relative;
    display: flex;
    z-index: 4;
    .trainer:nth-child(2) {
      margin-top: 321px;
    }
    .trainer:nth-child(3) {
      width: 558px;
      top: -193px;
      .trainer__name,
      .trainer__title {
        margin-left: 20px;
      }
    }
  }

}