.workout-program {
  @include flex-v;
  flex-direction: column;
  position: relative;
  width: calc(100% + 64px);
  //max-width: 1200px;
  padding: 100px 0 0;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,0.1) 25%);
  &-bg1 {
    position: absolute;
    top: -100px;
    left: 32px;
    width: 321px;
    height: 733px;
    background: $bg-body;
    z-index: 2;
  }
  &-bg2 {
    @include flex-h;
    width: 100%;
    background: $bg-body;
    padding-bottom: 150px;
  }
  &-info {
    position: relative;
    width: 100%;
    max-width: 1264px;
    padding: 0 32px;
    display: flex;
    column-gap: 119px;
    margin-bottom: 153px;
    z-index: 4;
    &__title {
      position: relative;
      width: 523px;
      color: $font-color;
      font-size: 120px;
      font-weight: 600;
      line-height: 120px;
      letter-spacing: -2px;
      z-index: 4;
    }
    &__img {
      position: absolute;
      bottom: -99px;
      left: -21px;
      width: 504px;
      z-index: 3;
    }
    &__desc {
      width: 558px;
      p {
        color: #FFF;
        font-size: 25px;
        line-height: 50px;
        letter-spacing: 0.5px;
        opacity: 0.699999988079071;
        margin-bottom: 50px;
        padding-top: 30px;
      }
      .btn {
        width: 200px;
      }
    }
  }
  &-trainers {
    width: 100%;
    max-width: 1264px;
    padding: 0 32px;
    position: relative;
    display: flex;
    z-index: 4;
    .trainer:nth-child(2) {
      margin-top: 321px;
    }
    .trainer:nth-child(3) {
      width: 558px;
      top: -193px;
      .trainer__name,
      .trainer__title {
        margin-left: 20px;
      }
    }
  }

}