$font-family: 'Poppins', sans-serif;
$font-size: 18px;


// text colors
$font-color: #fff;

// backgrounds colors
$bg-body: #000;
$bg-btn-main: rgba(37, 171, 117, 1);
$bg-btn-main-hover: rgba(37, 171, 117, 0.9);
$bg-btn-primary: rgba(255,255,255, 0.1);